@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main .data-nosotros .espacio-row .nosotros-cards img, main .flex-encontranos img, main .listado-container img, main img, header .flex-header .ajuste-logo img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.galeria {
  padding: 20px;
}

.box-basic {
  background-color: rgb(40, 57, 103);
  padding-top: 25px;
  padding-bottom: 25px;
}

.color-blanco {
  color: white;
}

.color-midnightsuave {
  color: rgb(40, 57, 103);
}

section.desplegablenav {
  display: none;
}
section.desplegablenav nav.box-menu-desplegable {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  background-color: rgb(40, 57, 103);
  z-index: 100;
}
section.desplegablenav nav.box-menu-desplegable .links-menu-desplegable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
section.desplegablenav nav.box-menu-desplegable .links-menu-desplegable a {
  color: white;
}
section.desplegablenav nav.box-menu-desplegable .inicio-menu-desplegable {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
}
section.desplegablenav nav.box-menu-desplegable .carrito-menu-desplegable {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
}

nav.box-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
nav.box-menu .inicio-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
  position: absolute;
  left: 25px;
  padding-top: 15px;
}
nav.box-menu .links-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  list-style-type: none;
  padding-top: 15px;
}
nav.box-menu .carrito-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
  position: absolute;
  right: 25px;
  padding-top: 15px;
}

.bg-blue {
  background-color: rgb(40, 57, 103);
}

header .flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
}
header .flex-header .ajuste-logo {
  position: absolute;
  left: 0px;
  border-radius: 10px;
}
header .flex-header .ajuste-logo img {
  height: 100px;
}

main .estilop {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(40, 57, 103);
  font-weight: bold;
}
main .estiloh2 {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(40, 57, 103);
  color: white;
}
main img {
  height: 650px;
}

main .listado-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
main .contactanos-formulario {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  height: 600px;
}
main .fondo-azul {
  background-color: rgb(40, 57, 103);
  border: 10px solid white;
}

main .flex-encontranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: inherit;
  padding-bottom: 15px;
}
main .flex-encontranos img {
  height: 250px;
}

main .data-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  flex-wrap: wrap;
  padding: 10px;
}
main .data-nosotros .espacio-row {
  row-gap: 12px;
}
main .data-nosotros .espacio-row .nosotros-cards {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: inherit;
}
main .data-nosotros .espacio-row .nosotros-cards img {
  height: 230px;
  width: 18rem;
}

footer .flex-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  align-items: center;
  font-size: 35px;
}

@media only screen and (max-width: 1400px) {
  nav.box-menu {
    height: 50px;
    align-items: center;
  }
  ul.links-menu {
    padding-left: 0px;
    padding-top: 13px;
  }
  .inicio-menu {
    top: auto;
  }
  .carrito-menu {
    top: auto;
  }
}
@media only screen and (max-width: 768px) {
  nav.box-menu {
    display: none;
  }
  ul.links-menu {
    display: none;
  }
  .inicio-menu {
    display: none;
  }
  .carrito-menu {
    display: none;
  }
  section.desplegablenav {
    display: block;
  }
}/*# sourceMappingURL=estilos.css.map */