@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.box-basic {
  background-color: rgb(40, 57, 103);
  padding-top: 25px;
  padding-bottom: 25px;
}

.color-blanco {
  color: white;
}

.color-midnightsuave {
  color: rgb(40, 57, 103);
}

.estilop {
  color: rgb(40, 57, 103);
  font-weight: bold;
}

.estiloh2 {
  background-color: rgb(40, 57, 103);
  color: white;
}

main .data-nosotros .espacio-row .nosotros-cards img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main nav.box-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  position: sticky;
  top: 0px;
  background-color: rgb(40, 57, 103);
  z-index: 100;
}
main nav.box-menu div.inicio-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
  position: absolute;
  left: 25px;
}
main nav.box-menu ul.links-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  list-style-type: none;
}
main nav.box-menu div.carrito-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
  position: absolute;
  right: 25px;
}
main .listado-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

main nav.box-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
main div.inicio-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
  position: absolute;
  left: 25px;
}
main ul.links-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  list-style-type: none;
}
main div.carrito-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
  position: absolute;
  right: 25px;
}
main .contactanos-formulario {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  height: 600px;
}
main .fondo-azul {
  background-color: rgb(40, 57, 103);
  border: 10px solid white;
}

main nav.box-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
main div.inicio-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
  position: absolute;
  left: 25px;
}
main ul.links-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  list-style-type: none;
}
main div.carrito-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
  position: absolute;
  right: 25px;
}
main .galeria {
  padding: 20px;
}
main .galeria .flex-encontranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: inherit;
  padding-bottom: 15px;
}

main nav.box-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
main div.inicio-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
  font-size: 20px;
  position: absolute;
  left: 25px;
}
main ul.links-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  list-style-type: none;
}
main div.carrito-menu {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  font-size: 20px;
  position: absolute;
  right: 25px;
}
main .data-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  flex-wrap: wrap;
  padding: 10px;
}
main .data-nosotros .espacio-row {
  row-gap: 12px;
}
main .data-nosotros .espacio-row .nosotros-cards {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: inherit;
}
main .data-nosotros .espacio-row .nosotros-cards img {
  height: 230px;
  width: 18rem;
}

footer .flex-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  align-items: center;
  font-size: 35px;
}/*# sourceMappingURL=estilos.css.map */