

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;


}

h1{
    font-family: "Dancing Script", cursive;
    font-size: 30px;
}

span{ 
    font-family: "Dancing Script", cursive;
}


.color-blanco{
    color:white ;
}

.color-midnightsuave{
color: rgb(60, 60, 167);

}

.lista-ordenada{
    background-color: darkkhaki;
}

#filtro-seleccionable{
    list-style-type: circle;
}

.box-basic{
background-color:midnightblue ;
padding-top: 25px;
padding-bottom: 25px;
}

div.flex-footer{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 200px;
align-items: center;
font-size: 35px;

}

section.flex-header{
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 100px;
justify-content: center;
align-items: center;

}



nav.box-menu{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
border: 1px solid;
position: sticky;
top: 0px;
background-color: white;
height: 50px;

}


div.inicio-menu{
display: flex;
flex-wrap: wrap;
font-size: 20px;
position: absolute;
left: 25px;

}
ul.links-menu{
display: flex;
flex-wrap: wrap;
width: 700px ;
justify-content: space-evenly;
list-style-type: none;
padding-left: 0px;



}
div.carrito-menu{
display: flex;
font-size: 20px;
position: absolute;
right: 25px;
}

section.box-basic{
    position: sticky;
    top: 0px;
    z-index: 100;
}

.galeria{

    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "subtitulo subtitulo subtitulo"
    "foto-1 foto-2 foto-3"
    "foto-1 foto-2 foto-3"
    "foto-1 foto-2 foto-3"
    ;

}


.box{
border: 1px solid black;
}

.subtitulo{

background-color: lightgreen;
grid-area: subtitulo;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;



}

.foto-1{

    background-color: blueviolet;
    grid-area: foto-1;

}
.foto-2{

    background-color: aquamarine;
    grid-area: foto-2;
    
}
.foto-3{
    
    background-color: coral;
    grid-area: foto-3;

}