main {
  .contactanos-formulario {
    @include flex(column, inherit, space-evenly, wrap);
    position: relative;
    height: 600px;
  }
  .fondo-azul {
    background-color: rgb(40 57 103);
    border: 10px solid white;
  }
}
