main {
  .data-nosotros {
    @include flex(column, center, inherit, wrap);
    padding: 10px;
    .espacio-row {
      row-gap: 12px;
      .nosotros-cards {
        @include flex(row, inherit, center, inherit);
        img {
          @extend %img;
          height: 230px;
          width: 18rem;
        }
      }
    }
  }
}
