@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

h1 {
  font-family: $tipografia-dancing-h1;
  font-size: 30px;
}

.galeria {
  padding: 20px;
}

.box-basic {
  background-color: $azul-orca;
  padding-top: 25px;
  padding-bottom: 25px;
}
.color-blanco {
  color: $blanco;
}
.color-midnightsuave {
  color: $azul-orca;
}

section.desplegablenav{
  display: none;
  nav.box-menu-desplegable {
    @include flex( column, inherit, center, wrap);
   position: sticky;
   background-color: $azul-orca;
   z-index: 100;
   .links-menu-desplegable {
    @include flex( column, center, space-evenly, wrap);
    width: auto;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
     a{
      color: $blanco;
     }
  }
    
  
    .inicio-menu-desplegable {
      @include flex( row, inherit, inherit, wrap);
      font-size: 20px;
      
    
  }
  
  .carrito-menu-desplegable {
    @include flex( row, inherit, inherit, inherit);
    font-size: 20px;
  
  
  }
  }    
}

nav.box-menu {
  @include flex( row, inherit, center, wrap);
 border: 1px solid;
 position: sticky;
 top: 0px;
 background-color: $blanco;
 z-index: 100;
 .inicio-menu {
  @include flex( row, inherit, inherit, wrap);
  font-size: 20px;
position: absolute;
left: 25px;

}    
.links-menu {
  @include flex( row, inherit, space-evenly, wrap);
  width: 700px;
  list-style-type: none;
}
.carrito-menu {
  @include flex( row, inherit, inherit, inherit);
  font-size: 20px;
  position: absolute;
  right: 25px;
}

}



.bg-blue{
  background-color: $azul-orca;
}



