@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

h1 {
    font-family: $tipografia-dancing-h1;
    font-size: 30px;
  }

  .box-basic {
    background-color: $azul-orca;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .color-blanco {
    color: $blanco;
  }
  .color-midnightsuave {
    color: $azul-orca;
  
  }
  .estilop{
    color: $azul-orca;
    font-weight: bold;
  }
  .estiloh2{
    background-color: $azul-orca;
    color: $blanco;
  }
  
