@media only screen and (max-width: 1400px) {
    nav.box-menu {
      height: 50px;
      align-items: center;
    }
    ul.links-menu {
      padding-left: 0px;
      padding-top: 13px;
    }
    .inicio-menu {
      top: auto;
    }
    .carrito-menu {
      top: auto;
    }
    
  }
  
  @media only screen and (max-width: 768px) {
    nav.box-menu {
      height: 100px;
      align-items: flex-end;
    }
    ul.links-menu {
     
      padding-left: 2px;
      padding-top: 45px;
    }
    .inicio-menu {
      top: 10px;
    }
    .carrito-menu {
      top: 10px;
    }
    
  }