footer {
  .flex-footer {
    @include flex( row, center, space-around, wrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    align-items: center;
    font-size: 35px;

  }
}
